.container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
  margin-right: -130px;
}

.video {
  border-left: solid 4px white;
  border-bottom: solid 4px white;
  flex: 1;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: margin-left 0.5s;
  margin-left: 0px;
}

.video[data-open=true] {
  background: white;
  color: #2cb5e8;
  margin-left: -130px;
}

.chat {
  border-left: solid 4px white;
  border-top: solid 4px white;
  margin-top: -4px;
  flex: 1;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: margin-left 0.5s;
  margin-left: 0px;
}

.chat[data-open=true] {
  background: white;
  color: #2cb5e8;
  margin-left: -130px;
}

.toolName {
  font-size: 20px;
  width: 120px;
}

.toolIcon {
  font-size: 25px;
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: rgba(255,255,255,0.25);
  }
}
