.container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
  margin-left: -130px;
  transition: margin-left 0.5s;

  &:hover {
    margin-left: 0px;
  }
}

.tool {
  padding-left: 15px;
  color: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  //justify-content: center;
  align-items: center;
  &:hover {
    background-color: rgba(255,255,255,0.25);
  }
}

.toolName {
  font-size: 20px;
  width: 120px;
}

.toolIcon {
  font-size: 25px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool[data-selected=true] {
  background: white;
  color: #0fb8ad;
}
